{
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-flow-strip-types",
    [
      "module-resolver",
      {
        "alias": {
          "tp-node": "./src",
          "test": "./test"
        }
      }
    ]
  ]
}
